<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.demo1" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".IntentActivityTest"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".IntentActivityTestOther"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".IntentAndResultActivityTest"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".IntentAndResultActivityTestOther"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".IntentAndImgResultActivityTest"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".LifeCycleActivityTest"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".NormalActivity" >
        </activity>

        <activity
            android:name=".DialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <activity
            android:name=".StandardActivityTest"
            android:label="This is StandardActivity">
        </activity>

        <activity
            android:name=".SingleTopActivityTest"
            android:label="This is SingleTopActivity"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".SingleTaskActivityTest"
            android:label="This is SingleTaskActivity"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".SingleInstanceActivityTest"
            android:label="This is SingleInstanceActivity"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name=".SimpleChatActivityTest"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
